[submodule "bundle/csv.vim"]
	path = bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "bundle/DrawIt"]
	path = bundle/DrawIt
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/splitjoin.vim"]
	path = bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/targets.vim"]
	path = bundle/targets.vim
	url = git://github.com/wellle/targets.vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-cisco-ios"]
	path = bundle/vim-cisco-ios
	url = https://github.com/CyCoreSystems/vim-cisco-ios
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-five.git"]
	path = bundle/vim-five.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-lion"]
	path = bundle/vim-lion
	url = git://github.com/tommcdo/vim-lion.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-ruby-refactoring"]
	path = bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-slime"]
	path = bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
